# Compiled Object files
bin/*.slo
bin/*.lo
bin/*.o
bin/*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images and videos
*.ppm
*.png
*.jpg
*.mpg
*.mpeg

*~
test_specular_reflection test_diagnosis_phase
