#
Compiled
Object
files
bin/*.slo
bin/*.lo
bin/*.o
bin/*.obj

#
Compiled
Dynamic
libraries
*.so
*.dylib
*.dll

#
Compiled
Static
libraries
*.lai
*.la
*.a
*.lib

#
Executables
*.exe
*.out
*.app

#
Images
and
videos
*.ppm
*.png
*.jpg
*.mpg
*.mpeg

*~
test_specular_reflection
test_diagnosis_phase
test_classifiers
test_motion
generate_pairs_of_images_to_annotate
test_ranking_abc
test_ranking
extract_features_ranking
