#
Compiled
Object
files
bin/*.slo
bin/*.lo
bin/*.o
bin/*.obj

#
Compiled
Dynamic
libraries
*.so
*.dylib
*.dll
*.pyc

#
Compiled
Static
libraries
*.lai
*.la
*.a
*.lib

#
Executables
*.exe
*.out
*.app

#
Images
and
videos
*.ppm
*.png
*.jpg
*.mpg
*.mpeg

*~

src/demos/temporal/tex/macros.log
src/demos/temporal/tex/macros.tex
src/demos/temporal/tex/main.aux
src/demos/temporal/tex/main.log
src/demos/temporal/tex/main.pdf
src/demos/temporal/knn.model

test_specular_reflection
test_diagnosis_phase
test_classifiers
test_motion
generate_pairs_of_images_to_annotate
test_ranking_abc
test_ranking
extract_features_ranking
test_cervix_segmentation
temporal_segmentation
train_temporal_segmentation
